p.p-content {
	padding-left: 10px;
	text-indent: 15px;
	font-size: 112.5%;
}

div.answer {
	margin-left: 20px;
	border-left: 2px solid #046e8f;
	margin-bottom: 50px;
}

.main-div h1 {
	margin-bottom: 0px;
}